<div class="container-service">
  <div class="service-title">
    <h1>Serviços</h1>
  </div>
  <div class="services">
    <ul class="cards">
    <% @services.each do |service|%>
      <li class="cards__item">
        <div class="card">
          <div class="service-image">
          <% if service.photo %>
                  <%= image_tag(service.photo) %>
                  <%end%></div>
          <div class="card__content">
            <div class="card__title"><%= link_to service.name, service_path(service)%></div>
            <p class="card__text"><%= service.description%> </p>
            <p class="card__price"><%= humanized_money_with_symbol(service.price_cents/100)%></p>
          </div>
        </div>
      </li>
      <% end%>
    </ul>
  </div>
</div>
