<div class="container-service">
  <div class="title">
    <h1>Serviços</h1>
  </div>
  <div class="services">
    <% @services.each do |service|%>
    <div class="service">
      <div class="service-image">
        <%= cl_image_tag("matt-nelson-aI3EBLvcyu4-unsplash_us8tmk",
        width: 200, height: 100, crop: :fill) %>
      </div>
      <div class="service-data">
      <div class="service-name"> <%= link_to service.name, service_path(service)%></div>
      <div class="service-description"><%= service.description%></div>
      <div class="service-price">price: R$10 </div>
      <br />
      </div>
    <div>
    <% end%>
  </div>
</div>


