.container-id{
  text-align: -webkit-center;
}
.banner-service{
  background-color: #f8f8f8;
  width: fit-content;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.service-name-id, .service-description-id{
  margin-top: 20px;
}
.button-add{
  all: unset;
  cursor: pointer;
  place-self: center;
  border-radius: 6px;
  padding: 8px;
  background-color: #0D6EFD;
  box-shadow: 0 2px 2px 0 #d0cdcd;
  color: #f8f8f8;
  margin-top: 20px;
}
.button-back{
  margin: 30px;
  text-align: start;
}
