  <div class="all-count">
  <div class="container-count">
    <div class="container-segment">
      <div class="segment-title">Horas</div>
      <div class="segment">
        <div class="flip-card" data-hours-tens>
          <div class="top">0</div>
          <div class="bottom">0</div>
        </div>
        <div class="flip-card" data-hours-ones>
          <div class="top">0</div>
          <div class="bottom">0</div>
        </div>
      </div>
    </div>
    <div class="container-segment">
      <div class="segment-title">Minutos</div>
      <div class="segment">
        <div class="flip-card" data-minutes-tens>
          <div class="top">0</div>
          <div class="bottom">0</div>
        </div>
        <div class="flip-card" data-minutes-ones>
          <div class="top">0</div>
          <div class="bottom">0</div>
        </div>
      </div>
    </div>
    <div class="container-segment">
      <div class="segment-title">Segundos</div>
      <div class="segment">
        <div class="flip-card" data-seconds-tens>
          <div class="top">0</div>
          <div class="bottom">0</div>
        </div>
        <div class="flip-card" data-seconds-ones>
          <div class="top">0</div>
          <div class="bottom">0</div>
        </div>
      </div>
    </div>
  </div>
</div>
