<div class="container-fluid banner-home">
  <h1 class="text-home">We take care <br>of your<br> bestFRIEND!</h1>
</div>

<div class="container-fluid offers-home text-center">
  <h2><strong>SERVICES</strong></h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa-solid fa-heart icons-home"></i>
      <h4>LOVE</h4>
      <p>We love what we do...</p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-certificate icons-home"></i>
      <h4>CERTIFIED</h4>
      <p>All professionals are qualified to take care of your buddy.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-leaf icons-home"></i>
      <h4>GREEN</h4>
      <p>We just use eco-friendly products.</p>
    </div>
  </div>
