<div class="container-fluid banner-home">
  <h1 class="text-home">Your Pet,<br>Our Passion</h1>
</div>

<div class="container-fluid offers-home text-center">
<span class="home-white-bar"></span>
  <h2><strong>O que oferecemos</strong></h2>
  <br>
  <div class="row">
    <div class="col-sm-4 card-home">
      <i class="fa-solid fa-heart icons-home"></i>
      <h4>AMOR</h4>
      <p>Cuidado com seu melhor amigo.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-certificate icons-home"></i>
      <h4>SERVIÇOS</h4>
      <p>Os melhores profissionais da região.</p>
    </div>
    <div class="col-sm-4 card-home">
      <i class="fa-solid fa-sack-dollar icons-home"></i>
      <h4>PROMOÇÕES</h4>
      <p>Valor acessível ao seu bolso.</p>
    </div>
  </div>

<%= render 'shared/countdown' %>
  <div>
    <%= link_to '<button type="button" class="home-btn-services">Verifique nossas promoções</button>'.html_safe, services_path %>
  </div>
