.navbar-lewagon {
  justify-content: space-between;
  background: #87CEED;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-nav a{
  color: #fff !important;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
}

.nav-link {
  color: black;
}

// testing
